@model Go_Nosh.Models.Owner

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Food Truck Owners Register Here!</h1>

<p>
    <a asp-action="Create">Sign Up</a>
</p>


