
@{
    ViewData["Title"] = "Home Page";

}

<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */

            img {
                position: relative;
                align-content:  center;
            }

            html, body {
                height: 50%;
                background-image: url('milwaukee.jpg');     
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
        </style>

    </head>
    <body >
        <div class="">
            <img class="position-relative" src="GO Nosh.png" alt="Go Nosh Truck" height="50%" width="100%">
        </div>
    </body>
    </html>


